.Pet-Column {
  border:1px;
  text-align: center;
  font-size: 18px;
  border: black;
  background-color: lightblue;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;   
  float: right;
}
.Petpic {
  width: 50px;
  height: auto;
  display: block;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}