.pet-column {
  border:1px;
  text-align: right;
  font-size: 18px;
  border: black;
  background-color: lightblue;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;   
  float: right;
}
.petpic {
  width: 25%;
  height: auto;
  display: block;
}