html {
  background-image: url("file:///C:/users/ambi/Desktop/PetShelter/imgs/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  text-align: center;
  font-size: 18px;
  margin: auto;
  padding: 5px;
  background-color: rgba(119,117,150,.25);
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  float: center;
}
.Pet-Column {
  text-align: left;
  font-size: 18px;
  margin: auto;
  border: 1px black;
  padding: 10px;
  background-color: lightblue;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;   
  float: right;

}
.pet-coulmn h1 {
  text-align: center;
}
.Pet-Column .Petpic {
  width: 75px;
  height: auto;
  display: block;
  float: center;
  padding: 10px;
 
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-between;
}
.container div{
  border: 1px #ccc solid;
  padding:10px;
  background-color: rgba(187,187,187,.50);
}
.container img{
  height: 100px;
  width: auto;
}
.box-1{
  flex:1;
  

}
.box-2{
  flex:1;
  
}
.box-3{
  flex:1;
  
}